/* line 4, ../sass/wysiwyg.scss */
body.cke_show_borders {
  font: normal 14px/21px Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* line 40, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-sourcemaps-0.12.4.sourcemaps.a4836f1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body.cke_show_borders div, body.cke_show_borders span, body.cke_show_borders applet, body.cke_show_borders object, body.cke_show_borders iframe,
body.cke_show_borders h1, body.cke_show_borders h2, body.cke_show_borders h3, body.cke_show_borders h4, body.cke_show_borders h5, body.cke_show_borders h6, body.cke_show_borders p, body.cke_show_borders blockquote, body.cke_show_borders pre,
body.cke_show_borders a, body.cke_show_borders abbr, body.cke_show_borders acronym, body.cke_show_borders address, body.cke_show_borders big, body.cke_show_borders cite, body.cke_show_borders code,
body.cke_show_borders del, body.cke_show_borders dfn, body.cke_show_borders em, body.cke_show_borders img, body.cke_show_borders ins, body.cke_show_borders kbd, body.cke_show_borders q, body.cke_show_borders s, body.cke_show_borders samp,
body.cke_show_borders small, body.cke_show_borders strike, body.cke_show_borders strong, body.cke_show_borders sub, body.cke_show_borders sup, body.cke_show_borders tt, body.cke_show_borders var,
body.cke_show_borders b, body.cke_show_borders u, body.cke_show_borders i, body.cke_show_borders center,
body.cke_show_borders dl, body.cke_show_borders dt, body.cke_show_borders dd, body.cke_show_borders ol, body.cke_show_borders ul, body.cke_show_borders li,
body.cke_show_borders fieldset, body.cke_show_borders form, body.cke_show_borders label, body.cke_show_borders legend,
body.cke_show_borders table, body.cke_show_borders caption, body.cke_show_borders tbody, body.cke_show_borders tfoot, body.cke_show_borders thead, body.cke_show_borders tr, body.cke_show_borders th, body.cke_show_borders td,
body.cke_show_borders article, body.cke_show_borders aside, body.cke_show_borders canvas, body.cke_show_borders details, body.cke_show_borders embed,
body.cke_show_borders figure, body.cke_show_borders figcaption, body.cke_show_borders footer, body.cke_show_borders header, body.cke_show_borders hgroup,
body.cke_show_borders menu, body.cke_show_borders nav, body.cke_show_borders output, body.cke_show_borders ruby, body.cke_show_borders section, body.cke_show_borders summary,
body.cke_show_borders time, body.cke_show_borders mark, body.cke_show_borders audio, body.cke_show_borders video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 55, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-sourcemaps-0.12.4.sourcemaps.a4836f1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body.cke_show_borders table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 57, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-sourcemaps-0.12.4.sourcemaps.a4836f1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body.cke_show_borders caption, body.cke_show_borders th, body.cke_show_borders td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 59, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-sourcemaps-0.12.4.sourcemaps.a4836f1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body.cke_show_borders q, body.cke_show_borders blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-sourcemaps-0.12.4.sourcemaps.a4836f1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body.cke_show_borders q:before, body.cke_show_borders q:after, body.cke_show_borders blockquote:before, body.cke_show_borders blockquote:after {
  content: "";
  content: none;
}
/* line 61, ../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-sourcemaps-0.12.4.sourcemaps.a4836f1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body.cke_show_borders a img {
  border: none;
}
/* line 8, ../sass/wysiwyg.scss */
body.cke_show_borders * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../sass/wysiwyg.scss */
body.cke_show_borders a {
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/*@ sourceMappingURL=wysiwyg.css.map */