// vars
$d: .5s;
$sans: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif;
$page-width: 1200px;

// mixins
@mixin transition($property:all, $duration:$d, $timing:"", $delay:"") {
  @include transition-property($property);
  @include transition-duration($duration);

  @if $timing != "" {
    @include transition-timing-function(ease-in-out);
  }
  @if $delay != "" {
    @include transition-delay($delay);
  }
}

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

@mixin bg-gradient ($start, $end, $img:"") {
  @if $img == "" {
    @include background(linear-gradient($start, $end));
  }
  @else {
    @include background(url($img), linear-gradient($start, $end));
  }
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#{$start}", EndColorStr="#{$end}");
}

@mixin wysiwyg {

}
